.profile-content {
  width: 100%;

  .block:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .c-column {
      margin: 0;
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }
  }
}
